@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    width: 70px
    top: 72%
    right: 85%
  &-2
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    width: 70px
    top: 8%
    right: 30%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    width: 70px
    top: 72%
    right: 15%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6,
.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important  


.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important
.banner-interno__fondo
  background-image: url('@/assets/curso/portada/fondo-banner-interno.svg') !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  border: none !important
  background-color: $color-acento-botones !important
.slyder-a__bullets__item
    border: none !important
    background-color: #fff
.slyder-a__bullets__item--active 
    border: none !important
    background-color: $color-acento-botones
.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: $color-primario
  padding-right: 16px
  padding-left: 52px
  min-height: 60px
  border-bottom: 3px solid #E5EDF3

  @media screen and (max-width: $bp-min-md)
    padding-left: 0px


  &__icon
    position: absolute
    left: -10px
    top: 50%
    transform: translateY(-50%)
    width: 65px
    max-width: 65px
    height: auto

    @media screen and (max-width: $bp-min-md)
      display: none

  &__text
    margin: 0
    margin: 0 15px 0 15px
    white-space: normal
    word-break: break-word
    color: $white !important
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
    font-style: normal !important;
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto
    color: $color-sistema-texto !important
.linea-tiempo-d .tarjeta 
  background-color: #E5EDF3 
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #F6E9E5 !important
.slyder-f__btn
  color: $color-acento-botones !important
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 4.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url('@/assets/curso/bg/2.png') !important
  &-2
    background-image: url('@/assets/curso/bg/3.svg') !important
.bg-color
  &-1
    background-color: $color-acento-contenido !important
  &-2
    background-color: #E6EDE9 !important
  &-3
    background-color: #062F18 !important
  &-4
    background-color: #E5EDF3 !important
  &-5
    background-color: $color-primario !important
.br
  &-1
    border-radius: 10px !important
  &-2
    border-radius: 20px !important

.mg-cus
  &-1
    margin-top: 40px !important
.pg-cus
  &-1
    padding: 3rem !important;         
.hcard
  &-1
    height: 750px !important
.w-cus
  &-1
    width: fit-content !important
      

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 
  .mg-cus
    &-1
      margin-top: 20px !important
  .pg-cus
    &-1
      padding: 1.5rem !important; 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .bloque-texto-g 
        padding-top: 50px !important;
  .mg-cus
    &-1
      margin-top: 0px !important
   
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .bloque-texto-g 
        padding-top: 20px !important;
  